@page "/"
@rendermode InteractiveServer

<PageTitle>FluentUI Blazor Issue</PageTitle>

<h1>Warning</h1>

Enable dark theme in system settings!

<FluentMessageBar Title="Example MessageBar" Intent="@MessageIntent.Warning" AllowDismiss="false">
    Some text in first line...........<br />
    The second line with <a href="#">other link</a><br />
</FluentMessageBar>